* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #283739;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  line-height: 50px;
  background: #2C5D63;
  font-family: verdana;
}
a {
  color: #F7EEBB;
  text-decoration: none;
}
a:last-of-type {
  display: none;
  font-size: 30px;
  transition: transform 0.3s;
}
nav:hover a {
    opacity: 0.5;
}
nav a:hover {
   opacity: 1;
}
.rotateZ {
  transform: rotateZ(-90deg);
}
.block {
  display: block;
}
@media (max-width: 760px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  a {
    display: none;
  }

  a:last-of-type {
    order: -1;
    align-self: flex-end;
    display: block;
  }
}
